[data-viz='action'] {
  color: var(--viz-node-color-fg);
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  align-items: baseline;
  justify-content: flex-start;
  font-weight:var(--viz-action-weight);
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--viz-action-color-bg); 
  margin: 0.15rem;
  font-size: var(--viz-font-size-sm);

  &[data-viz-action] {
    &:before {
      font-weight: 400 !important;
      opacity: 1;
      display: inline-block;
      white-space: nowrap;
    }
  }
}

[data-viz='action-type'] {
  font-size: var(--chakra-fontSizes-xs);
  text-overflow: ellipsis;
  white-space: nowrap;
}
