[data-viz='action'] {
  color: var(--viz-color-fg);
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: baseline;
  justify-content: flex-start;
  font-weight: 450;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: rgba(156, 156, 156, 0.333);
  margin-bottom: 0.2rem;

  &[data-viz-action] {
    &:before {
      font-size: var(--viz-font-size-sm);
      text-transform: uppercase;
      font-weight: 450;
      opacity: 0.8;
      display: inline-block;
      white-space: nowrap;
    }
  }
}

[data-viz='action-type'] {
  font-size: var(--chakra-fontSizes-xs);
  text-overflow: ellipsis;
  white-space: nowrap;
}
