[data-viz-theme] {
  background: var(--viz-color-bg);
  color: var(--viz-color-fg);

  &[data-viz-theme='light'] {
    --viz-color-bg: #fff;
    --viz-color-fg: #ffffff;
    --viz-node-color-bg: #242424;
    --viz-edge-color: #000000;
    --viz-transition-color: rgb(90, 90, 90);
  }

  &[data-viz-theme='dark'] {
    --viz-color-fg: #fff;
    --viz-color-bg: #111;
    --viz-node-color-bg: #2d2d2d;
    --viz-edge-color: white;
    --viz-transition-color: rgb(83, 86, 92);
  }

  --viz-color-transparent: rgba(255, 255, 255, 0.733);
  --viz-color-active: #3066b8;
  --viz-border-color: var(--viz-node-color-bg);
  --viz-border-width: 5px;
  --viz-border: var(--viz-border-width) solid var(--viz-border-color);
  --viz-radius: 0.25rem;
  --viz-node-border-style: solid;
  --viz-node-parallel-border-style: dashed;
  --viz-font-size-base: 14px;
  --viz-font-size-sm: 15px;
}
