[data-viz-theme] {
  background: var(--viz-color-bg);
  color: var(--viz-color-fg);

  &[data-viz-theme='light'] {
    --viz-color-bg: #fff;
    --viz-color-fg: #0f0f0ff5;
    --viz-node-color-bg: #ccd1d4;
    --viz-edge-color: #000000;
    --viz-transition-color: rgb(90, 90, 90);
    --viz-action-color-bg: rgba(102, 101, 101, 0.333);
    --viz-border-color: #8b8b8b;
  }

  &[data-viz-theme='dark'] {
    --viz-color-fg: #fff;
    --viz-color-bg: #111111;
    --viz-node-color-bg: #3a3a3b;
    --viz-edge-color: white;
    --viz-transition-color: #555557;
    --viz-action-color-bg: rgba(0, 0, 0, 0.466);
    --viz-border-color: var(--viz-node-color-bg);
  }

  --viz-color-transparent: rgba(255, 255, 255, 0.733);
  --viz-color-active: #3066b8;
  --viz-border-width: 5px;
  --viz-border: var(--viz-border-width) solid var(--viz-border-color);
  --viz-radius: 0.25rem;
  --viz-node-border-style: solid;
  --viz-node-parallel-border-style: dashed;
  --viz-font-size-base: 14px;
  --viz-font-size-sm: 15px;
}
